In [22]:
import pandas as pd
import os

In [30]:
Data_1 = pd.read_csv(r'Raw Data\202301-divvy-tripdata.csv')
Data_2 = pd.read_csv(r'Raw Data\202302-divvy-tripdata.csv')
Data_3 = pd.read_csv(r'Raw Data\202303-divvy-tripdata.csv')
Data_4 = pd.read_csv(r'Raw Data\202304-divvy-tripdata.csv')
Data_5 = pd.read_csv(r'Raw Data\202305-divvy-tripdata.csv')
Data_6 = pd.read_csv(r'Raw Data\202306-divvy-tripdata.csv')
Data_7 = pd.read_csv(r'Raw Data\202307-divvy-tripdata.csv')
Data_8 = pd.read_csv(r'Raw Data\202308-divvy-tripdata.csv')
Data_9 = pd.read_csv(r'Raw Data\202309-divvy-tripdata.csv')
Data_10 = pd.read_csv(r'Raw Data\202310-divvy-tripdata.csv')
Data_11 = pd.read_csv(r'Raw Data\202311-divvy-tripdata.csv')
Data_12 = pd.read_csv(r'Raw Data\202312-divvy-tripdata.csv')

In [37]:
Data_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771693 entries, 0 to 771692
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             771693 non-null  object
 1   rideable_type       771693 non-null  object
 2   started_at          771693 non-null  object
 3   ended_at            771693 non-null  object
 4   start_station_name  652774 non-null  object
 5   start_station_id    652774 non-null  object
 6   end_station_name    646125 non-null  object
 7   end_station_id      646125 non-null  object
 8   start_lat           771693 non-null  float64
 9   start_lng           771693 non-null  float64
 10  end_lat             770436 non-null  float64
 11  end_lng             770436 non-null  float64
 12  member_casual       771693 non-null  object
dtypes: float64(4), object(9)
memory usage: 76.5+ MB

In [5]:
Data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [6]:
Data.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    26721
start_station_id      26721
end_station_name      27840
end_station_id        27840
start_lat                 0
start_lng                 0
end_lat                 127
end_lng                 127
member_casual             0
dtype: int64

In [14]:
Data_null = Data[Data.isnull().any(axis=1)]

In [20]:
fila_nula = Data[Data['end_lat'].isnull()]
fila_nula.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
69506,1FB8FE3600279846,classic_bike,2023-01-01 04:45:39,2023-01-02 05:45:28,State St & Van Buren St,TA1305000035,NaN,NaN,41.877181,-87.627844,NaN,NaN,casual
69523,08D63AE5147A8A12,docked_bike,2023-01-09 14:20:41,2023-01-15 04:19:09,Indiana Ave & Roosevelt Rd,SL-005,NaN,NaN,41.867888,-87.623041,NaN,NaN,casual
69531,BEEB2B851275BBEE,classic_bike,2023-01-30 13:24:22,2023-01-31 14:24:09,State St & 19th St,SL-013,NaN,NaN,41.856594,-87.627542,NaN,NaN,member
69952,758F82A4444D0DF3,classic_bike,2023-01-31 09:21:10,2023-02-01 10:21:02,Halsted St & Maxwell St,TA1309000001,NaN,NaN,41.864883,-87.647071,NaN,NaN,casual
70167,45125F6E88AD0535,docked_bike,2023-01-07 12:52:32,2023-01-08 06:47:21,New St & Illinois St,TA1306000013,NaN,NaN,41.890847,-87.618617,NaN,NaN,casual

In [21]:
Data_null.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
105,3F624CAD11ADC36B,electric_bike,2023-01-24 19:15:35,2023-01-24 19:21:59,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.80,-87.62,41.809835,-87.599383,member
106,7F4991C08F87A20F,electric_bike,2023-01-27 12:36:53,2023-01-27 13:02:30,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.80,-87.62,41.809835,-87.599383,member
107,F3AD17CF04B88EE9,electric_bike,2023-01-20 00:37:00,2023-01-20 00:46:09,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.78,-87.59,41.809835,-87.599383,member
108,CA3677FEF8FD11B6,electric_bike,2023-01-27 02:13:40,2023-01-27 02:18:22,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.80,-87.60,41.809835,-87.599383,member
110,6FFD201EBB80C87C,electric_bike,2023-01-16 01:43:52,2023-01-16 01:52:02,NaN,NaN,Clark St & Elmdale Ave,KA1504000148,42.00,-87.68,41.990860,-87.669724,member

In [7]:
registros_vacios = Data.isna().sum().sum()
registros_duplicados = Data.duplicated().sum()

In [8]:
registros_vacios

109376

In [9]:
registros_duplicados

0

In [26]:
data_unite = []
for doc in os.listdir(r'Raw Data'):
    if doc.endswith('.csv'):
        route_doc = os.path.join(r'Raw Data',doc)
        df = pd.read_csv(route_doc)
        data_unite.append(df)

df_combinado = pd.concat(data_unite, ignore_index=True)

In [27]:
df_combinado.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [28]:
df_combinado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719877 entries, 0 to 5719876
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 567.3+ MB