In [52]:
import pandas as pd
import os

In [53]:
# Read the first and second csv file and display information for initial exploring of the data
data_202301 = pd.read_csv(r'Raw Data\202301-divvy-tripdata.csv')
data_202302 = pd.read_csv(r'Raw Data\202302-divvy-tripdata.csv')
data_202301.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190301 entries, 0 to 190300
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             190301 non-null  object
 1   rideable_type       190301 non-null  object
 2   started_at          190301 non-null  object
 3   ended_at            190301 non-null  object
 4   start_station_name  163580 non-null  object
 5   start_station_id    163580 non-null  object
 6   end_station_name    162461 non-null  object
 7   end_station_id      162461 non-null  object
 8   start_lat           190301 non-null  float64
 9   start_lng           190301 non-null  float64
 10  end_lat             190174 non-null  float64
 11  end_lng             190174 non-null  float64
 12  member_casual       190301 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.9+ MB

In [54]:
data_202302.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190445 entries, 0 to 190444
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             190445 non-null  object
 1   rideable_type       190445 non-null  object
 2   started_at          190445 non-null  object
 3   ended_at            190445 non-null  object
 4   start_station_name  164972 non-null  object
 5   start_station_id    164840 non-null  object
 6   end_station_name    163707 non-null  object
 7   end_station_id      163566 non-null  object
 8   start_lat           190445 non-null  float64
 9   start_lng           190445 non-null  float64
 10  end_lat             190329 non-null  float64
 11  end_lng             190329 non-null  float64
 12  member_casual       190445 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.9+ MB

In [55]:
# Combining csv's from Raw Data folder

data_unite = []
for csv in os.listdir(r'Raw Data'):
    if csv.endswith('.csv'):
        route_csv = os.path.join(r'Raw Data',csv)
        df = pd.read_csv(route_csv)
        data_unite.append(df)

df_Cyclistic = pd.concat(data_unite, ignore_index=True)

df_Cyclistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719877 entries, 0 to 5719876
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 567.3+ MB

In [56]:
# Count of missing values in the df_Cyclistic
df_Cyclistic.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875716
start_station_id      875848
end_station_name      929202
end_station_id        929343
start_lat                  0
start_lng                  0
end_lat                 6990
end_lng                 6990
member_casual              0
dtype: int64

In [57]:
# DataFrame containing rows from 'df_Cyclistic' where any column has missing values
data_null = df_Cyclistic[df_Cyclistic.isnull().any(axis=1)]
data_null.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
105,3F624CAD11ADC36B,electric_bike,2023-01-24 19:15:35,2023-01-24 19:21:59,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.80,-87.62,41.809835,-87.599383,member
106,7F4991C08F87A20F,electric_bike,2023-01-27 12:36:53,2023-01-27 13:02:30,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.80,-87.62,41.809835,-87.599383,member
107,F3AD17CF04B88EE9,electric_bike,2023-01-20 00:37:00,2023-01-20 00:46:09,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.78,-87.59,41.809835,-87.599383,member
108,CA3677FEF8FD11B6,electric_bike,2023-01-27 02:13:40,2023-01-27 02:18:22,NaN,NaN,Greenwood Ave & 47th St,TA1308000002,41.80,-87.60,41.809835,-87.599383,member
110,6FFD201EBB80C87C,electric_bike,2023-01-16 01:43:52,2023-01-16 01:52:02,NaN,NaN,Clark St & Elmdale Ave,KA1504000148,42.00,-87.68,41.990860,-87.669724,member

In [58]:
# Remove rows with any missing values from the 'df_Cyclistic'
df_Cyclistic.dropna(inplace=True)
df_Cyclistic.reset_index(drop=True, inplace=True)
df_Cyclistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4331707 entries, 0 to 4331706
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 429.6+ MB

In [59]:
# Count of duplicated rows in the df_Cyclistic
data_duplicated = df_Cyclistic.duplicated().sum()
data_duplicated

0